p Teemo's Casino is in closed beta. Please contact teemoscasino@gmail.com for more information. Login with your Twitch account that we have pre-approved.
a href="/auth/twitchtv"
  == image_tag 'twitchconnect.png'
