// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors
$green: #69b034;
$dark-green: #438812;

$nav-color: $green;
$nav-accent-color: $dark-green;

// mixin
@mixin border-box {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

// type
body {
  color: #444;
}

h4 {
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: bold;
}

form {
  p, label {
    color: #aaa;
  }
}

.content a {
  color: #ec710e;

  &:hover {
    text-decoration: underline;
  }
}

.purple {
  color: #785ab0;
}
.blue {
  color: #33a0de;
}

// buttons
.btn-blue {
  background-color: #389cc6;
  border-color: #389cc6;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
  background-color: #328cb2;
  border-color: #2d7d9e;
}
.btn-blue.disabled:hover,
.btn-blue.disabled:focus,
.btn-blue.disabled:active,
.btn-blue.disabled.active,
.btn-blue[disabled]:hover,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue:hover,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue.active {
  background-color: #389cc6;
  border-color: #389cc6;
}

.btn-purple {
  background-color: #ac1bbd;
  border-color: #ac1bbd;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
  background-color: #9818a7;
  border-color: #831590;
}
.btn-purple.disabled:hover,
.btn-purple.disabled:focus,
.btn-purple.disabled:active,
.btn-purple.disabled.active,
.btn-purple[disabled]:hover,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple:hover,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:active,
fieldset[disabled] .btn-purple.active {
  background-color: #ac1bbd;
  border-color: #ac1bbd;
}

html,body{
  height:100%;
  background: #eee;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  background: url(image_path('layout_sheemo.png')) left bottom no-repeat;
  min-height: 680px;
}

$nav-height: 50px;
header {
  position: relative;
  z-index: 1;

  .nav-vertical-align {
    height: $nav-height;
    line-height: $nav-height;
    display: block;
  }

  color: #fff;
  margin-bottom: 0px;
  background: $nav-color;
  @extend .nav-vertical-align;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  .main-menu {
    float: left;

    .logo {
      width: 150px;
      margin-left: 20px;
      margin-right: 30px;
      font-size: 18px;
      float: left;
      color: #fff;
      text-indent: -999px;
      background: url(image_path('logo_small.png')) center center no-repeat;
      @extend .nav-vertical-align;
    }

    .nav-menu {
      float: left;
      margin-left: -30px;
      margin-bottom: 0;

      li {
        display: block;
        float: left;
        margin-left: 30px;

        a {
          font-size: 12px;
          font-weight: bold;
          @extend .nav-vertical-align;
          @include border-box;

          &.selected {
            color: #fff;
            border-bottom: 4px solid $nav-accent-color
          }
        }
      }
    }
  }

  .user-menu {
    float: right;
    font-size: 12px;
    font-weight: bold;
    @extend .nav-vertical-align;

    .connect-link {
      display: inline-block;
      margin-right: 20px
    }

    .user-actions {
      li {
        display: inline-block;
      }

      .wallet-info {
        .mushroom {
          width: 16px;
          height: 15px;
          background: url(image_path('mushroom_small.png')) no-repeat;
          display: inline-block;
          position: relative;
          top: 3px;
          margin-right: 10px;
        }

        .amount {
          display: inline-block;
          margin-right: 8px;
        }
      }

      .user-dropdown-container {
        padding: 0 20px;
        position: relative;
        z-index: 1;

        .user-dropdown {
          padding-right: 25px;
          background: url(image_path('dropdown_arrow.png')) right center no-repeat;
        }

        .user-dropdown-menu {
          display: none;
        }

        &:hover {
          background: $dark-green;
          cursor: pointer;

          .user-dropdown-menu {
            display: block;
            position: absolute;
            min-width: 100px;
            width: 100%;
            background: $dark-green;
            right: 0;
            line-height: 1;

            a {
              padding: 20px;
              display: block;

              &:hover {
                background: darken($dark-green, 4);
              }
            }
          }
        }
      }
    }
  }
}

.banner-notification {
  height: 40px;
  background: #ddd;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 20px;

  .notification-content {
    text-align: center;
    line-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #999;
  }
}

.bottom-notification-container {
  width: 100%;
  position: absolute;
  bottom: 125px;

  .bottom-notification {
    background: #000;
    width: 100%;
    opacity: 0.9;
  }

  .notification-content {
    font-size: 12px;
    color: #fff;
    padding: 10px 10px 10px;

    p {
      margin: 0;
    }
  }

  .notification-arrow {
    width: 100%;
    height: 15px;
    background: url(image_path('notification_arrow.png')) 160px 0 no-repeat;
  }

  &.emergency {
    .bottom-notification {
      background: #da4040;
    }

    .notification-arrow {
      background: url(image_path('notification_arrow_emergency.png')) 160px 0 no-repeat;
    }
  }
}

.content {
  margin: 0 20px 20px;
  position: absolute;
  top: $nav-height + 20px;
  bottom: 0;
  left: 0;
  right: 0;

  $left-column-width: 200px;
  $right-column-width: 350px;
  $gutter: 20px;

  $top-height: 60px;
  $bottom-height: 180px;

  .column {
    position: relative;
  }

  .column-head {
    height: $top-height;
    line-height: $top-height;

    p {
      color: #777;
      font-size: 11px;
    }
  }

  .top {
    height: $top-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .middle {
    margin: 0 0 $bottom-height + $gutter * 2; // meta info height
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }

  .bottom {
    height: $bottom-height;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .left-container {
    width: $left-column-width;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .center-container {
    margin: 0 $right-column-width + $gutter 0 $left-column-width + $gutter;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .column-head {
      ul {
        margin: 0 0 0 -20px;
        padding: 0;

        li {
          display: inline-block;
          margin-left: 20px;

          p {
            margin: 0;
          }
        }
      }
    }

    .stream-container {
      background-color: transparent;
      overflow: hidden;

      object {
        display: block;
      }
    }
  }

  .meta-info-container {
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;

    .meta-info {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 30px;
      max-width: 90%;

      li {
        display: inline-block;
        color: #777;
        font-size: 11px;
        margin-right: 20px;
      }
    }

    .share {
      position: absolute;
      right: 0;
      top: 5px;

      a {
        margin-left: 5px;
      }
    }
  }

  .right-container {
    width: $right-column-width;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    .chat {
      &.middle {
        margin-bottom: 0;
      }
    }

    .chat-container {
      height: 100%;
      padding: 10px;
    }
  }

  .card {
    background: #fff;
    font-size: 12px;
    overflow: auto;

    &.betting-status {
      overflow: visible;
    }

    &.highlight {
      -webkit-box-shadow: 0px 0px 0px 2px rgba(108,176,59,1);
      -moz-box-shadow: 0px 0px 0px 2px rgba(108,176,59,1);
      box-shadow: 0px 0px 0px 2px rgba(108,176,59,1);
    }

    .heading {
      padding: 0 10px;
      height: 29px;
      line-height: 29px;
      border-bottom: 1px solid #ddd;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .tabs {
      color: #bbb;
      margin-left: -10px;

      .active {
        color: #444;

        &:hover {
          color: #444;
        }
      }

      span {
        padding: 0 10px;
        border-right: 1px solid #ddd;

        &:last-child {
          border-right: none;
        }

        &:hover {
          cursor: pointer;
          color: #ec710e;
        }
      }
    }

    .card-content-container {
      position: absolute;
      top: 30px;
      bottom: 0;
      left: 0;
      right: 0;
      @include border-box;

      &.no-gutter {
        padding: 0;
      }

      .border {
        padding-top: 25px;
        margin-top: 30px;
        border-top: 2px solid #ddd;
      }
    }
  }

  .betting-status-container {
    margin-left: -3%;
    height: 150px;

    .better-list {
      float: left;
      margin-left: 3%;
      width: 30%;
      height: 150px;

      &.purple-betters {
        h4 {
          color: #785ab0;
        }
      }

      &.blue-betters {
        h4 {
          color: #33a0de;
        }
      }

      h4 {
        padding: 10px 10px 0;
        margin-bottom: 5px;
        height: 23px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 120px;
      overflow: scroll;

      li {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;

        .name, .score {
          width: 50%;
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .name {
          font-weight: bold;
          color: #ec710e;
        }

        .score {
          text-align: right;
          color: #777;
        }
      }
    }
  }

  // betting
  .bet-controller {
    position: relative;
    max-height: 380px;
    z-index: 1;

    .card-content-container {
      position: relative;
      top: 0;
    }

    .bet {
      .card-content {
        padding: 10px;
      }

      .status-info {
        color: #777;
      }

      .clock {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .not-logged-in {
        border-bottom: 1px solid #ddd;
        .clock {
          font-size: 24px;
        }
      }

      form {
        .available {
          p {
            margin: 0 0 5px;
            font-size: 11px;
          }
        }

        .bet-amount {
          .amount {
            outline: 0;
            width: 100%;
            border: 1px solid #ccc;
            color: #444;
            padding: 5px;
            @include border-box;

            &:focus {
              border: 1px solid $green;
            }
          }
        }

        .options {
          button {
            outline: none;
            border: 0;
            display: block;
            width: 100%;
            height: 36px;
            line-height: 32px;
            margin-top: 10px;
            color: #fff;
            font-weight: bold;

            &.first {
              background: #785ab0;
              border-bottom: 4px solid #5c448c;

              &:active {
                background: #5c448c;
              }
            }

            &.second {
              background: #33a0de;
              border-bottom: 4px solid #3864ac;

              &:active {
                background: #3864ac;
              }
            }
          }
        }
      }

      .status {
        font-weight: bold;
      }

      .number-amount {
        margin-bottom: 0;
        font-weight: normal;
        font-size: 22px;
      }

      .your-bet, .bet-status, .wager {
        border-bottom: 1px solid #ddd;
      }

      .bet-status {
        .purple-bet-amount {
          color: #785ab0;
          display: block;
        }
        .blue-bet-amount {
          color: #33a0de;
          display: block;
        }
      }
    }
  }
}
