<div class="row">
  <div class="col-md-offset-4" ng-if="!showBetControls">
    <h3>Login to start betting!</h3>
  </div>
  <div class="col-md-offset-4" ng-if="showBetControls" ng-switch on="betMode">
    <p ng-show="bet.status == 'placed'">Current Bet: {{bet.amount}} on {{bet.team}} Payout multiplier <font color="blue">{{blueOdds}}</font> : <font color="purple">{{purpleOdds}}</font></p>
    <p ng-switch-when="open">Place your bet! Betting closes in {{countdown}} seconds. Payout multiplier <font color="blue">{{blueOdds}}</font> : <font color="purple">{{purpleOdds}}</font></p>
    <p ng-switch-when="closed">Betting is closed. Payout multiplier <font color="blue">{{blueOdds}}</font> : <font color="purple">{{purpleOdds}}</font></p>
    <div ng-class="'betting-' + betMode">
      <div class="col-md-2">
        <button type="button" ng-click="makeBet(betAmount, 'blue')" class="btn btn-blue btn-primary btn-lg btn-block">
          Blue
        </button>
      </div>
      <div class="col-md-2">
        <input ng-model="betAmount" class="form-control input-sm" type="text" ng-init="betAmount=1">
      </div>
      <div class="col-md-2">
        <button type="button" ng-click="makeBet(betAmount, 'purple')" class="btn btn-purple btn-primary btn-lg btn-block">
          Purple
        </button>
      </div>
    </div>
  </div>
</div>
